.jumbotron {
  font-family: "Orbitron", sans-serif;
  color: limegreen;
  background-color: black;
}

button {
  background-color: black;
  border-radius: 30%;
  color: limegreen;
}

.picOfTomorrow {
  text-align: center;
}
